$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;

$white: #ffffff;
$card-button-background-color: #007fc8;
$card-button-background-color-hover: #009ffb;
$card-price-color: #606d78;
$card-title-color: #262626;
$card-background-color: #f9f9f9;

$font-size-regular: 1rem;
$font-size-big: 1.125rem;
$font-size-bigger: 1.375rem;
$font-size-h2: 2.5rem;
